# Dependencies
node_modules/

# Build outputs
dist/
*.tsbuildinfo

# Storybook
storybook-static/

# Bun
*.lockb

# IDE
.idea/
*.swp
*.swo
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage/

# Misc
*.local
